@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("assets/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(4, 59, 110);
}

::-webkit-scrollbar-thumb {
  background: rgb(47, 155, 255);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 155, 255);
}